<!-- As a heading -->
<nav class="navbar navbar-light bg-secondary d-flex justify-content-between">
    <h3 class="text-white">Welcome !</h3>
    <button class="btn btn-primary" (click)="onLogout()">Logout</button>
</nav>