<app-header></app-header>

<h2>
    Select App
</h2>
<div class="card-group">
    <div class="card" *ngFor="let app of apps">
        <div class="card-body">
            <h5 class="card-title">{{app.title}}</h5>
            <p class="card-text">{{app.desc}}</p>
            <p class="card-text"><small class="text-muted">
                    <a href="{{app.link}}" target="_blank"> {{app.link}} </a>
                </small></p>
        </div>
    </div>

</div>