<div class="container-fluid">
    <div class="row justify-content-center mt-5">
      <div class="col-md-5 border">
        <form [formGroup]="userForm">
          <div class="form-group">
            <label for="exampleInputEmail1">Username</label>
            <input type="email" class="form-control" formControlName="username" placeholder="Username">
          </div>
          <p class="text-danger" *ngIf="userForm.controls['username'].invalid && ( userForm.controls['username'].dirty ||
                userForm.controls['username'].touched)"></p>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" formControlName="password" class="form-control" placeholder="Password">
          </div>
          <div>
            <p class="text-danger" *ngIf="userForm.controls['password'].invalid && ( userForm.controls['password'].dirty ||
                userForm.controls['password'].touched)"></p>
          </div>
          <div class="my-2 text-right">
            <button class="btn btn-primary" [disabled]="!userForm.valid" (click)="onSubmit()">
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>